<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<!-- prettier-ignore -->
		<div class="content">
			<h2>Welcome back.</h2>
			<% if (news.length > 0) {%> 

				<% news.forEach(newsPage => { %>
					<h3 class="title"><%=newsPage.title%></h3>
					<p class="snippet"><%=newsPage.snippet%></p>

			<% }) %> <% } else { %>

				<h3 class="title">There are no news!</h3>

			<% } %>
		</div>
		<%- include('./partials/footer.ejs') %> 
	</body>
</html>
